.centeredColumn {
    background-color: aqua;
}
.bodyEdits {
    background-color: black;
}
#inputZip{
    margin-top: 4%;
    margin-left: 20%;
}
#zipBtn {
    margin-top: 5%;
    margin-left: 40%;
}
#mainDiv {
    font-family: Georgia, 'Times New Roman', Times, serif;
}